<!-- "themes/dark-blue" -->
<%= javascript_include_tag 'highcharts' %>

<% User.charts.each_with_index do |data, index| %>
	<div style="width: 49%; float: left; margin: 5px 5px 0 0">
		<%= high_chart("chart_#{index}", data) %>
	</div>
<% end %>